html,body{
	margin:0;
	padding: 0;
	overflow-x: hidden;
	font-family: 'Raleway', sans-serif;
	scroll-behavior: smooth;
}

.logo-txt{
	color: #c2a43b;
}

a{
	color: inherit;
	text-decoration: none;
}

ul{
	list-style-type: none;	
}

.logo-txt{
	margin-left: 1em;
}

.nav-class{
	display: flex;
	background-color: #fff;
}

#sticky{
	position: sticky;
	top: 0;
	
}

.nav-links{
	margin-left: auto;
}

.nav-list{
	display: flex;
}

#nav-link{
	padding: 1em;
}

#nav-link:hover{
	color: #c2a43b;
	transition: all 0.2s ease-in;	
}

.toggle-btn{
	position: absolute;
	top: 0.75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-btn .bar{
	height: 3px;
	width: 100%;
	background-color: #000;
	border-radius: 10px;
}

/*Wall*/
.wall-pic{
	width: 100%;
}

/*Services*/
.serive-heading{
	text-align: center;
	font-size: 2rem;
}

.second{
	color: #c2a43b;
}

.services{
	padding: 2.5em;
}

.service-text{
	width: 70%;
	margin:auto;
	line-height: 1.8;
}

#service-link{
	color: #c2a43b;
}

#service-link:hover{
	border-bottom: 1px solid #c2a43b;
}

.service-card-grid{
	margin-top: 2em;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 1em;
}

.service-card{
	text-align: center;
	padding: 1.5em;
	margin: auto;
	border:1px solid #e0e0e0;
	box-shadow: 0 0 20px rgb(0 0 0 / 15%);
}

/*About*/
.about{
	background-color: #000;
	color: #fff;
}

.main-wrap{
	padding: 3.5em;
	display: flex;
}

.wording-about{
	width: 65%;
}

#about-btn{
	padding: 0.8em;
	border-radius: 7px;
	border:0;
}

#about-btn:hover{
	background-color: #000;
	color: #fff;
	border:1px solid #fff;
	cursor: pointer;
}

.about-img{
	width: 30%;
	display: block;
	margin: auto;
	margin-top: 2em;
}

/*Testimonails*/
.testimonials{
	padding: 2.5em;
}

.testi-title{
	text-align: center;
}

.test-grid{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 3em;
}

.testi-card{
	padding: 2em;
	background-color: #000;
	color: #fff;
}

.testi-name{
	color: #c2a43b;
	text-align: center;
}

#testi-btn{
	padding: 0.9em;
	margin:  2em auto;
	display: block;
	border:1px solid #fff;
	border-radius: 5px;
	background-color: #000;
	color: #fff;
}

#testi-btn:hover{
	cursor: pointer;
	background-color: #fff;
	color: #000;
	border:1px solid #000;
}

#trans-pic-home{
	width: 100%;
}

/*Contact*/
.contact{
	background-color: #000;
	color: #fff;
}

.contact-wrapper{
	padding: 3.5em;
}

.sub-contact-wrapper{	
	display: flex;
	gap:2em;
}

#contact-img{
	width: 35%;
	display: block;
	margin:auto;
}

#contact-btn{
	padding: 0.9em;
	border:0;
	border-radius: 5px;
}

#contact-btn:hover{
	cursor: pointer;
	border:1px solid #fff;
	background-color: #000;
	color: #fff;
}

/*Footer*/
footer{
	padding: 2em;
}
.footer-list{
	display: flex;
	justify-content: center;
	width: 60%;
	margin: auto;
}

.sponser{
	margin-top: 2em;
	text-align: center;
	font-size: 0.75rem;
}

#footer-link{
	padding: 1em;
}

#footer-link:hover{
	color: #c2a43b;
	transition: all 0.2s ease-in;
}

/*footer responsive*/
@media (max-width: 425px){
	.footer-list{
		display: block;
		border-bottom: 0;
		line-height: 1.5;
	}
}

/*Navbar responsive*/
@media (max-width: 680px){
	.nav-links{
		display: none;
	}

	.toggle-btn{
		display: flex;
	}

	.nav-class{
		flex-direction: column;
	}

	.nav-item{
		margin: 0.5em 0;
	}

	.nav-list{
		padding: 0;
	}	

	.nav-links{
		width: 100%;
	}

	.nav-links .nav-list{
		flex-direction: column;
		width: 100%;
	}

	.nav-item{
		text-align: center;
	}

	.nav-links.active{
		display: flex;
	}
}

@media (max-width: 375px){
	.about-img{
		width: 90%;
	}
}

@media (max-width: 820px){
	/*Service responsive*/
	.service-card-grid{
		display: block;
	}

	.service-card{
		margin: 1.5em 0;
	}
	/*ABOUT RESPONSIVE*/
	.main-wrap{
		display: block;
	}

	.wording-about{
		width: 85%;
		margin: auto;
	}

	.about-img{
		width: 45%;
	}
	/*contact responsive*/
	.sub-contact-wrapper{
		display: block;
	}
}
/*contact responsive*/
@media (max-width: 560px){
	.about-img, #contact-img{
		width: 50%;
	}
}

@media (max-width: 400px){
	#contact-img{
		width: 60%;
	}
}

/*Testimonals grid responsive*/
@media (max-width: 805px){
	.test-grid{
		display: block;
	}

	.testi-card{
		margin: 2em auto;
		width: 65%;
	}
}